@{
	Layout = "~/Views/Shared/_GiftosLayout.cshtml";

}

@model IEnumerable<NewProject.DataDatamodels.Login>

<!-- Default box -->
<div class="box">
	<div class="box-header with-border">
		<h3 class="box-title">User Login List</h3>
		<div class="box-tools pull-right">
			<button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
			<button class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i></button>
		</div>
	</div>
	<div class="box-body">


		<div class="container my-5">

			<table class="table table-hover my-5">
				<thead class="table-info">
					<tr>
						<th>Serial</th>
						<th>Email</th>
						<th>Password</th>
						

					</tr>
				</thead>
				<tbody>
					@{
						int serial = 1;
						foreach (var data in Model)
						{

							<tr>
								<td>@serial</td>
								<td>@data.Email</td>
								
								<td>@data.Password</td>


								
							</tr>
							serial++;
						}
					}

				</tbody>
			</table>


		</div>

	</div><!-- /.box-body -->
	<div class="box-footer">
		Footer
	</div><!-- /.box-footer-->
</div><!-- /.box -->
