
<li class="nav-item">
    <a href="#" class="nav-link">
        <i class="nav-icon fas fa-tachometer-alt"></i>
        <p>
            Shop
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a asp-action="CreatShop" asp-controller="Giftos" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Creat Shop </p>
            </a>
        </li>
        <li class="nav-item">
            <a asp-action="ShopList" asp-controller="Giftos" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Shop List</p>
            </a>
        </li>
      

     
    </ul>
</li>


<li class="nav-item">
    <a href="#" class="nav-link">
        <i class="nav-icon fas fa-tachometer-alt"></i>
        <p>
           All Product
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a asp-controller="Giftos" asp-action="CreatProduct" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Creat Product</p>
            </a>
        </li>

        <li class="nav-item">
            <a asp-controller="Giftos" asp-action="ProductList" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Product List</p>
            </a>
        </li>

    </ul>
</li>


<li class="nav-item">
    <a href="#" class="nav-link">
        <i class="nav-icon fas fa-tachometer-alt"></i>
        <p>
         User Login
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a asp-controller="Login" asp-action="ListId" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>User Login List</p>
            </a>
        </li>

        <li class="nav-item">
            <a asp-controller="Login" asp-action="SocialNetwork" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Social Network</p>
            </a>
        </li>
        
        <li class="nav-item">
            <a aasp-controller="Login" asp-action="SocialNetworkList" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Network List</p>
            </a>
        </li>

    </ul>
</li>







  @* <ul class="sidebar-menu">
                    <li class="header">MAIN NAVIGATION</li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-dashboard"></i> <span>Blog Site</span> <i class="fa fa-angle-left pull-right"></i>
                        </a>
                      <ul class="treeview-menu">

                        
                         <li><a asp-action="Blog" asp-controller="Blogs"><i class="fa fa-circle-o"></i> Blogs </a>
                         </li>

            <li><a asp-action="BlogCreat" asp-controller="Blogs"><i class="fa fa-circle-o"></i> Blogs Creat</a></li>

            <li><a asp-action="BlogList" asp-controller="Blogs"><i class="fa fa-circle-o"></i> Blogs List</a></li>
                        </ul>
                    </li>

                    <li>



        <a href="#">
            <i class="fa fa-dashboard"></i> <span>Furniture Site</span> <i class="fa fa-angle-left pull-right"></i>
        </a>





        <a href="#">
            <i class="fa fa-dashboard"></i> <span>Books</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li><a asp-action="BookList" asp-controller="Books"><i class="fa fa-circle-o"></i> Books Input</a></li>

            <li><a asp-action="BookInpt" asp-controller="Books"><i class="fa fa-circle-o"></i> Books List</a></li>
         
        </ul>


        <a href="#">
            <i class="fa fa-dashboard"></i> <span>Social Media</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li><a asp-action="SocialNetwork" asp-controller="EduCuts"><i class="fa fa-circle-o"></i> Social Network</a></li>

        </ul>

                    </li>

    <li><a asp-action="ContactList" asp-controller="Giftos"><i class="fa fa-circle-o text-danger"></i> Contact List</a></li>
    <li><a asp-action="CreatShop" asp-controller="Giftos"><i class="fa fa-circle-o text-warning"></i> Create Shop</a></li>
                    <li><a href="#"><i class="fa fa-circle-o text-info"></i> Information</a></li>
   </ul> *@