  <ul class="sidebar-menu">
                    <li class="header">MAIN NAVIGATION</li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-dashboard"></i> <span>Blog Site</span> <i class="fa fa-angle-left pull-right"></i>
                        </a>
                      <ul class="treeview-menu">

                        
                         <li><a asp-action="Blog" asp-controller="Blogs"><i class="fa fa-circle-o"></i> Blogs </a>
                         </li>

            <li><a asp-action="BlogCreat" asp-controller="Blogs"><i class="fa fa-circle-o"></i> Blogs Creat</a></li>

            <li><a asp-action="BlogList" asp-controller="Blogs"><i class="fa fa-circle-o"></i> Blogs List</a></li>
                        </ul>
                    </li>

                    <li>



        <a href="#">
            <i class="fa fa-dashboard"></i> <span>Furniture Site</span> <i class="fa fa-angle-left pull-right"></i>
        </a>





        <a href="#">
            <i class="fa fa-dashboard"></i> <span>Books</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li><a asp-action="BookList" asp-controller="Books"><i class="fa fa-circle-o"></i> Books Input</a></li>

            <li><a asp-action="BookInpt" asp-controller="Books"><i class="fa fa-circle-o"></i> Books List</a></li>
         
        </ul>


        <a href="#">
            <i class="fa fa-dashboard"></i> <span>Social Media</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li><a asp-action="SocialNetwork" asp-controller="EduCuts"><i class="fa fa-circle-o"></i> Social Network</a></li>

        </ul>

                    </li>

    <li><a asp-action="ContactList" asp-controller="Giftos"><i class="fa fa-circle-o text-danger"></i> Contact List</a></li>
                    <li><a href="#"><i class="fa fa-circle-o text-warning"></i> Warning</a></li>
                    <li><a href="#"><i class="fa fa-circle-o text-info"></i> Information</a></li>
   </ul>